<!--
    FALLINGFOX WEB LEADERBOARD

    Kód celého Discord bota: https://github.com/JonanekDev/Discord-FallingFox
    Checkuj moje Instagramy: https://www.instagram.com/jonysek98/ a https://www.instagram.com/divnej.clovek.z.prostejova/

    Btw proč mi čumíš do kódu? :THINKING:
    NEMÁŠ NA SVŮJ KÓD NEBO CO? :RAGEY:

    Btw mám rád FallingFox
-->

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FallingFox | Leaderboard</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div class="NADPIS">FallingFox Leaderboard</div>
    <div id="MamRadKarty">
        <% if (locals.err) { %>
            <% if (err == 1) { %>
                <div id="Karta">  
                    <img src="../public/fallingfox.jpg" class="avatar"> 
                    <div class="Jmeno">Chybičky se stala!</div> 
                    <div class="Info">Omlouváme se, ale pokoušíš se zobrazit neexistující stranu</div> 
                </div>
            <% } else { %>
                <div id="Karta">  
                    <img src="../public/fallingfox.jpg" class="avatar"> 
                    <div class="Jmeno">Chybičky se stala!</div> 
                    <div class="Info">Omlouváme se, ale nastala chyba! Zkuste to později. :(</div> 
                </div>
            <% } %>
        <% } %> 
        <div id="Karta">  
            <img src="../public/fallingfox.jpg" class="avatar"> 
            <div class="Jmeno">Vyčkejte chvíli...!</div> 
            <div class="Info">Probíhá načítání dat...</div> 
        </div>
    </div>
    <div id="Buttony">
        <button id="ButtonBack" class="PageButton Invis">&#8249;</button>
        <button id="ButtonNext" class="PageButton Invis">&#8250;</button>
    </div>
</body>
<% if (locals.users) { %>
<script>
const Users = <%- JSON.stringify(users) %>;
let page = 0;
document.addEventListener("DOMContentLoaded", () => {
    List();
});
const Buttonback = document.getElementById("ButtonBack");
Buttonback.addEventListener("click", (event) => {
    page = page - 1;
    List();
})
const ButtonNext = document.getElementById("ButtonNext");
ButtonNext.addEventListener("click", (event) => {
    page = page + 1;
    List();
})
function List() {
    const karty = document.getElementById("MamRadKarty");
    karty.innerHTML = "";
    if (page * 10 > Users.length || page < 0) {
        karty.innerHTML = '<div id="Karta"> <img src="../public/fallingfox.jpg" class="avatar"> <div class="Jmeno">Chybičky se stala!</div> <div class="Info">Omlouváme se, ale pokoušíš se zobrazit neexistující stranu</div> </div>';
    }
    for (let i = page * 10; i < page * 10 + 10 & i < Users.length; i++) {
        const user = Users[i];
        karty.innerHTML += `<div id="Karta"> <div class="Pozice">${i + 1}.</div> <img src="${user.avatar}" class="avatar"> <div class="Jmeno">${user.username}</div> <div class="Info">Počet zpráv: <strong>${user.messages}</strong>, aktuální level: <strong>${user.level}</strong> a aktuální počet EXP: <strong>${user.exp}</strong> a uživateli zbývá získat ${user.remains}EXP do dalšího levelu (${user.exp}/${user.neededexp})</div> </div>`;
        
    }
    if (page * 10 + 11 < Users.length) {
        if (ButtonNext.classList.contains("Invis")) ButtonNext.classList.remove("Invis");
    } else if (!ButtonNext.classList.contains("Invis")) {
        ButtonNext.classList.add("Invis")
    }
    if (page * 10 - 1 >= 0) {
        if (Buttonback.classList.contains("Invis")) Buttonback.classList.remove("Invis");
    } else if (!Buttonback.classList.contains("Invis")) {
        Buttonback.classList.add("Invis")
    }
}
</script>
<% } %>
</html>